# ignore everything
*
# allow subfolders
!*/

# do not ignore these files
!.gitignore
!install.sh


# allow specific folders with all their subfolders
!nvim/**
!rectangle/**
!kitty/**
!zsh/**
!starship/**

# but do ignore these specific subdirectories
nvim/plugged
