# ignore everything
/**

# but do not ignore these files
!.gitignore

# do not ignore these directories and their subdirectories
!nvim/
!rectangle/
!kitty/

# but do ignore these specific subdirectories
nvim/plugged
